@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* GOXTEI ---- CINZAAA
    --cor01: #DAE2DF;
    --main: #A2A7A5;
    --fundo: #6D696A;
*/
/*              AZULLL
    --cor01: #E1E2EF;
    --main: #4A7B9D;
    --fundo: #05204A;
*/
/*             SEGUNDO AZULL
    --cor01: #A6CFD5;
    --main: #26408B;
    --fundo: #0F084B;
*/

:root {
    --cor01: #E1E2EF;
    --fundo: #05204A;

    --efeito: #8200fc99;

    --titulos: #8200fc;

    --fonte-titulo: 'Martian Mono';
    --fonte-padrao: 'Ubuntu';
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--fundo);
    font-family: var(--fonte-padrao);
    line-height: 28px;
    scroll-behavior: smooth;
    transition: 1s;
}

main {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 60px;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 6px 6px 8px rgba(94, 94, 94, 0.3), -6px -6px 8px rgba(94, 94, 94, 0.3);
}

.roxo {
    color: var(--titulos);
    text-shadow: 4px 5px 10px #80008080;
}

a {
    text-decoration: none;
}

.button_proj {
    display: none;
    pointer-events: none;
}

/*************************** CORPO ****************************/


/*************************** header ****************************/
.container-top {
    background-color: #ffffffb4;
    position: fixed;
    width: 96%;
    right: 2%;
    top: 1%;
    z-index: 1;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.navegacao-top {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navegacao-top img {
    max-width: 50px;
    border-radius: 25px;
    transition: 1s;
}

.navegacao-top a {
    text-decoration: none;
    color: #000;
    margin: 12px;
    padding: 4px 6px;
    transition: all 0.5s;
    border-radius: 10px;
    font-weight: 600;
}

.navegacao-top a:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 4px 4px #8200fc99, -4px -4px #9619b2;
}

/********************* MAIN SECTION 1 - GUSTAVO *********************/
.central {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto 40px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: var(--cor01);
    backdrop-filter: blur(100px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.5s;
}


.central:active {
    transform: scale(0.95) rotateZ(1.2deg);
}

.card {
    box-sizing: border-box;
    width: 95%;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 30px 0;

    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.1em;
}

.card img {
    max-width: 60%;
    margin-left: 5%;
    border-radius: 50px;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}


.titulo h1 {
    font-size: 2.8em;

}

.titulo h1,
.titulo h2 {
    margin-bottom: 30px;
}

.titulo h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

/********************* MAIN SECTION 1 *********************/

.container-info {

    width: 98%;
    margin: auto;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    justify-content: center;
    width: 100%;
}

.container-info h3 {
    text-align: center;
    margin: 10px;
}

.info-box {
    width: 42%;
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--cor01);
    backdrop-filter: blur(100px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.5s;
    margin-bottom: 40px;
}

.marginright {
    margin-right: 40px;
}


.info-box:active {
    transform: scale(0.95) rotateZ(1.2deg);
}

.info-box h2 {
    margin: 30px 5px 40px 0;
}

.info-box p {
    padding: 0 50px 50px 0;
}

.border {
    border-left: 1px solid #004280;
}

.info-box img {
    width: 200px;
    border-radius: 20px;

}

.container-empresas {
    background-color: var(--cor01);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.5s;
    margin-bottom: 40px;
}

.info-box-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 50%;
    padding: 10px;
    border-radius: 20px;

}

.box h4 {
    color: #000;
}

.box {
    border-radius: 10px;
    max-width: 20%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #000;
    transition: all 0.5s;
}

.box:hover {
    background-color: #ffffff;
    transform: scale(1.02);
    box-shadow: 6px 6px #8200fc99, -6px -6px #9619b2;
}

.box img {
    max-width: 70px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



/********************* SeÇÃO JOÃO ****************************/


/* ------------- PORTIFOLIO ----------------*/

.proj_passado {
    background-color: var(--cor01);
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
}


.proj_passado h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 20px;
}

.proj_passado h3 {
    padding-bottom: 10px;
    text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.8);
}

.proj {
    font-size: 1.1em;
    width: 90%;
    margin: 30px auto;
    color: #202020;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 0.5s;
}

.proj:hover {
    transform: scale(1.01);
    box-shadow: 8px 8px #8200fc99, -8px -8px #9619b2;
    background-color: #fff;
}

.proj div {
    max-width: 500px;
    margin: 0px 15px;
}

.proj img {
    margin: 15px 0px;
    max-width: 300px;
    border-radius: 5px;
}

span {
    color: var(--efeito);
    text-shadow: 0px 0px 20px var(--efeito);
}

/* --------------- IDEALIZADORES --------------*/

#idealizadores {
    background-color: var(--cor01);
    width: 83%;
    font-weight: 400;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
}

#idealizadores h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 20px;
}

#idealizadores h3 {
    font-family: var(--fonte-titulo);
    padding: 30px;
    text-align: center;
    color: #6e0e6e;
}

.ideal {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px;
    flex-wrap: wrap;

}

.ideal article {
    text-align: justify;
    width: 29%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    flex-wrap: wrap;

}

.ideal article:hover {
    transition: 0.4s;
    padding: 10px 30px;
    background-color: #e4f1ff;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #8200fc3c;
}

.ideal article h3 {
    font-size: 1.1em;

    text-shadow: 2px 5px 12px #b5fff8b0;
    font-family: var(--fonte-titulo);
}

.ideal article div {
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
}

.ideal article div p {
    padding: 0px 10px;
    margin-bottom: 20px;
    height: 320px;
}


.ideal article ul {
    height: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: 60%;
}


.ideal article ul img {
    transition: 0.5s;
    width: 25px;
    border-radius: 0%;
}

.ideal article ul img:hover {
    transition: 0.2s;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--efeito);
    box-shadow: 0px 0px 20px var(--efeito);
}

.ideal img {
    width: 120px;
    border-radius: 50%;
}





/* ---------------------- CONTATOS -------------*/

#contato {
    background-color: var(--cor01);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 2px 2px 5px #ffffff1f, -2px -2px 5px #ffffff1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
}

#contato:hover {
    max-width: 610px;
    transition: 0.5s;
    box-shadow: 8px 8px 0px #8200fc99, -8px -8px 0px #9619b2;
}

#contato h1 {
    font-family: var(--fonte-titulo);

}

.ilusion {
    padding: 5px;
    display: flex;
    max-width: 250px;
    align-items: center;
}

.ilusion img {
    max-width: 80px;
    margin-right: 10px;
}

.ilusion h1 {
    font-size: 1.2em;
}

.ilusion p {
    font-size: 0.9em;
    font-weight: 500;
    color: #6e0e6e;
}

.links {
    font-size: 0.7em;
    max-width: 200px;
    padding: 5px;
}

.links nav {
    display: flex;
    justify-content: end;
    padding: 2px;
}


.links img {
    margin: 10px;
    max-width: 25px;
    padding: 3px;
}

.links img:hover {
    transition: 0.2s;
    border-radius: 5px;
    background-color: var(--efeito);
    box-shadow: 0px 0px 10px var(--efeito);
}

/* ----------- RODAPÉ ------*/

.rodape {
    background-color: var(--cor01);
    text-align: center;
    font-weight: 500;
    padding: 10px;
}











/********************* ADAPTAÇÃO PARA DISPOSITOS  *********************/


@media (max-width: 1500px) {


    /********************* MAIN SECTION 1 - GUSTAVO *********************/

    .button_proj {
        display: none;
        pointer-events: none;
    }

    .card img {
        width: 180px;
        margin-left: 5%;
        border-radius: 50px;
    }

    .titulo h1 {
        font-size: 2.5em;
    }


    .titulo h3 {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 1.2em;
    }



    /********************* MAIN SECTION 1 *********************/


    .info-box img {
        width: 150px;
        border-radius: 20px;

    }




    /* ------------- PORTIFOLIO ----------------*/

    .proj img {
        margin: 15px 0px;
        max-width: 200px;
        border-radius: 5px;
    }


    /* --------------- IDEALIZADORES --------------*/

    #idealizadores {
        width: 93%;
    }

    #idealizadores h3 {
        padding: 22px;
    }

    .ideal article div p {
        margin-bottom: 5px;
        height: max-content;
    }

    .ideal article div {
        height: 360px;
    }

    .ideal article ul {
        bottom: 5px;
    }

}


@media (max-width: 1200px) {

    body {
        padding: 0;
        margin: 0;
    }

    main {
        flex-direction: column;
        align-items: center;
        width: 93%;
    }

    .button_proj {
        display: none;
        pointer-events: none;
    }

    p {
        color: #282828;
    }

    /************* Header ************/


    .navegacao-top {
        justify-content: space-around;
        display: flex;
        width: 100%;
    }

    .navegacao-top img {
        width: 35px;
        margin: 5px 0;
    }

    .navegacao-top a {
        margin: 1px 3%;
        text-align: center;
        padding: 1px;
        font-weight: 500;
    }

    /************* corpo gustavo ************/

    .central {
        width: 88%;


    }

    .card {
        width: 95%;
        margin: 0;
        flex-wrap: nowrap;
    }

    .titulo {
        width: 80%;
        text-align: justify;
    }

    .card img {
        max-width: 150px;
        margin: 50px;

    }

    .titulo h1 {
        font-size: 2.2em;
    }

    .titulo h1,
    .titulo h2 {
        margin-bottom: 20px;
    }

    .titulo p {
        margin-right: 40px;
        font-size: 0.9em;
    }

    /************* corpo kaike ************/
    .info {
        width: 100%;
        flex-wrap: wrap;

    }

    .info h2 {
        font-size: 1.6em;
    }

    .info img {
        width: 90px;
    }

    .info-box {
        width: 80%;
        margin: 0 0 30px;
    }

    .container-empresas {
        width: 86%;
        margin: 0 auto 30px;
    }

    .info-box p {
        padding: 0 10px 10px 0;
        text-align: justify;
    }

    /************* corpo joao ************/
    .proj_passado {
        width: 91%;
    }

    .proj {
        font-size: 1.1em;
        width: 94%;
        transition: 0.5s;
        border-radius: 10px;
        padding: 30px 0;
    }

    .proj img {
        width: 55%;
        margin-top: 20px;
    }



    /* --------------- IDEALIZADORES --------------*/


    #idealizadores {
        width: 90%;
        padding: 20px;

    }

    #idealizadores h3 {
        padding: 18px;
    }

    .ideal article {
        align-content: center;
        margin: 20px 0;
        padding: 10px 0;

    }

    .ideal article div {
        height: 350px;
    }

    .ideal article div p {
        margin-bottom: 0;
        height: 50px;
    }

    .ideal article div p {
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .ideal article h3 {
        font-size: 1.2em;

    }

    .ideal img {
        width: 30%;
    }
}






@media (max-width: 1030px) {

    .navegacao-top a:hover {
        background-color: #e1e2ef4f;
        color: #000;
        transform: scale(1.0);
        box-shadow: none;
    }

    .navegacao-top a:active {
        background-color: #000000;
        color: #fff;
    }


    /********************* MAIN SECTION 1 *********************/


    .box:hover {
        background-color: var(--cor01);
        transform: scale(1.00);
        box-shadow: none;
    }

    .box:active {
        background-color: #ffffff;
        transform: scale(1.02);
        box-shadow: 6px 6px #8200fc99, -6px -6px #9619b2;
    }










    /* ------------- PORTIFOLIO ----------------*/


    .button_proj {
        background-color: var(--fundo);
        color: var(--cor01);
        padding: 10px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        margin-top: 20px;
        display: block;
        pointer-events: all;
        transition: 0.2s;
    }

    .button_proj:active {
        background-color: #d2d2d2;
        color: #000;
    }

    .proj {
        pointer-events: none;

    }
    .wrap {
        display: flex;
        flex-direction: column-reverse;

    }

    .proj:hover {
        transform: scale(1.0);
        box-shadow: none;
        background-color: var(--cor01);

    }

    /* --------------- IDEALIZADORES --------------*/

    .ideal article:hover {
        transition: 0.4s;
        padding: 8px 0px;
        background-color: var(--cor01);
        border-radius: 0;
        box-shadow: none;
    }

    .ideal article:active {
        transition: 0.4s;
        padding: 10px 30px;
        background-color: #e4f1ff;
        border-radius: 20px;
        box-shadow: 0px 0px 8px #8200fc3c;
    }


    .ideal article ul img:hover {
        transition: 0.2s;
        width: 25px;
        padding: 0px;
        border-radius: 5px;
        background-color: var(--cor01);
        box-shadow: none;
    }

    .ideal article ul img:active {
        transition: 0.2s;
        width: 30px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--efeito);
        box-shadow: 0px 0px 20px var(--efeito);
    }


    .ideal article div {
        height: 350px;
    }

    .ideal article ul {
        padding: 0;
        bottom: 0px;
    }


    /* ---------------------- CONTATOS -------------*/

    .links img:hover {
        transition: 0.2s;
        border-radius: 0px;
        background-color: var(--cor01);
        box-shadow: none;
    }

    .links img:active {
        transition: 0.2s;
        border-radius: 5px;
        background-color: var(--efeito);
        box-shadow: 0px 0px 10px var(--efeito);
    }




}





@media (max-width: 700px) {

    body {
        padding: 0;
        margin: 0;
    }

    main {
        flex-direction: column;
        align-items: center;
        width: 93%;
        margin-top: 50px;
    }

    p {
        color: #282828;
    }

    /************* Header ************/

    .container-top {
        position: 7fixed;
    }

    .navegacao-top {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .navegacao-top img {
        width: 6%;
        margin: 5px 0;
    }

    .navegacao-top a {
        margin: 2px 3%;
        text-align: center;
        padding: 1px;
        width: 100%;
        font-size: 0.9em;
    }

    /************* corpo gustavo ************/

    .central {
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }

    .titulo {
        width: 80%;
        text-align: justify;
    }

    .card img {
        border-radius: 0;
        width: 40%;
        margin: 50px;

    }

    .titulo h1 {
        text-align: center;
        font-size: 2.8em;
    }

    .titulo h2 {
        text-align: center;
    }

    .titulo h3 {
        margin-bottom: 30px;
    }

    .titulo p {
        margin-right: 0;
    }

    /************* corpo kaike ************/
    .container-empresas {
        width: 92%;
    }

    .info {
        width: 100%;
        flex-wrap: wrap;

    }

    .info h2 {
        font-size: 1.6em;
    }

    .info img {
        width: 90px;
    }

    .info-box {
        width: 80%;
        margin: 0 0 30px;
    }

    .info-box p {
        padding: 0 10px 10px 0;
        text-align: justify;
    }

    /************* corpo joao ************/


    .proj_passado {
        width: 90%;
    }

    .wrap {
        display: flex;
        flex-direction: column-reverse;

    }


    .proj {
        font-size: 1.1em;
        width: 94%;
        transition: 0.5s;

        border-radius: 10px;
        padding: 30px 0;
    }




    .proj img {
        width: 55%;
        margin-top: 20px;
    }

    .foto_cima {
        flex-direction: column;
    }


    /* --------------- IDEALIZADORES --------------*/


    #idealizadores {
        width: 90%;
        padding: 20px;
    }

    .ideal article {
        width:100%;
        margin: 20px 0;
        padding: 10px 0;
    }

    .ideal article:hover {
        transition: 0.4s;
        padding: 10px 0px;
        background-color: var(--cor01);
        border-radius: 0;
        box-shadow: none;
    }

    .ideal article div {
        height: 220px;
    } 
    
    .ideal article div p {
        margin-bottom: 0;
    }

    .ideal article h3 {
        font-size: 1.5em;
    }

    .ideal img {
        width: 40%;
    }
}

@media (max-width: 420px) {
    .navegacao-top a {
    margin: 2px 3px;
    }


    
    .ideal article div {
        height: 280px;
    } 

    .box img {
        max-width: 50px;
    }
    
    
}

